img.cover_image {
    border: lightgray;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
}

.container, body {
    max-width: 500px;
    margin: 0 auto;
    background: white;
}

.center {
    margin: 0 auto;
}
